.tool-bar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(217, 238, 251, 1);
  padding: 0 10px;
  position: relative;
  background-image: url('../img/logo.png');
  background-position: center;
  background-repeat: no-repeat;
}

.tool-bar__main {
  display: flex;
  gap: 23px;
  left: 10px;
}

.disabled {
  cursor: default;
  opacity: 0.5;
}

.tool-bar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  width: 31px;
  transition: all 200ms;
  border-radius: 5px;
  background-color: transparent;
}

.arrow_right {
  transform: rotate(180deg);
}

.tool-bar__button:not(.disabled):hover {
  transition: none;
  border: 2px solid rgba(141, 211, 236, 1);
}

.info-button {
  background-color: rgba(217, 238, 251, 1);
  font-size: 25px;
  border: 2px solid rgb(28, 122, 156);
}

.info-button:hover {
  background-color: rgba(217, 238, 251, 1) !important;
}
