.wrapper {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 238, 251, 1);
}

body {
  background-color: rgba(245, 251, 255, 1);
  height: 100%;
  font-family: 'Arial';
}

.panels {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;
  background-color: #f5fbff;
}
