.panel.panel_active {
  border-color: rgba(141, 211, 236, 1);
}

.panel {
  border: 5px solid rgba(217, 238, 251, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}

.file-name {
  width: 100%;
}

.panel__table {
  font-size: 21px;
  user-select: none;
  overflow: auto;
  display: block;
  height: 100%;
  margin: 10px;
  border-collapse: collapse;
}

.panel__table thead {
  pointer-events: none;
  position: sticky;
  top: 0;
}

thead {
  text-align: left;
  z-index: 2;
}

.disk-button {
  height: 30px;
  width: 30px;
  background-color: rgba(217, 238, 251, 1);
  font-size: 20px;
  color: black;
  border-radius: 4px;
}

.disk-button:hover {
  background-color: rgba(141, 211, 236, 1);
  color: black;
}

.panel__disks {
  display: flex;
  gap: 5px;
  align-items: center;
}

.panel__path {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 5px 5px 0px 5px;
  white-space: nowrap;
  min-width: fit-content;
  margin-bottom: 5px;
}

.panel__path-wrap {
  margin: 0 10px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  padding: 5px 5px 6px 5px;
  border: 2px solid rgba(141, 211, 236, 1);
  border-radius: 10px;
  background-color: rgba(217, 238, 251, 1);
}

.disk-button_selected {
  background-color: rgba(141, 211, 236, 1);
  color: black;
}

.file-info {
  width: 100%;
}

.panel_active .row_selected {
  background-color: rgba(217, 238, 251, 1);
}

tr {
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
}

td,
th {
  padding: 3px;
  font-weight: 400;
}

th {
  padding-bottom: 10px;
}

td:not(:first-child) {
  padding-right: 40px;
}

th:not(:first-child),
td:not(:first-child) {
  padding-left: 7px;
}

th:not(:first-child) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 80%;
    width: 2px;
    background-color: #747474;
  }
}

th {
  background-color: rgb(245, 251, 255);
}

tr:hover {
  background-color: rgb(230, 248, 254);
}

.row_file td:first-child::before {
  content: url(../img/file.png);
  margin-right: 10px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.row_directory td:first-child::before {
  content: url(../img/folder.png);
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.panel__navigation {
  display: flex;
  gap: 5px;
}

.arrow_up::before {
  content: url(/FrontEnd/img/arrow-up.png);
  transform: rotate(180deg);
  margin-right: 5px;
  display: inline-block;
}

.panel__buttons {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 10px;
}

.panel__path-wrap::-webkit-scrollbar {
  border-bottom: none;
}
